flask==3.1.0
flask-restful==0.3.10
sqlalchemy==2.0.40
pyyaml==6.0.2
requests==2.32.3
pytest==8.3.5
pytest-mock==3.14.0
python-dotenv==1.1.0
pymodbus==3.8.6
websockets==15.0.1
numpy==2.0.2
pandas==2.2.3
matplotlib==3.9.4
